.content {
    width: 70%;
    margin: 30px auto;

    button {
        position: relative;

        svg {
            width: 24px;
            position: absolute;
            left: 15px;
            height: 24px;
        }
    }
}

.title {
    font-size: 18px !important;
    margin-bottom: 15px !important;
    color: black !important;
    font-weight: 500 !important;
}

.iconButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        height: 40px;

        svg {
            position: static;
        }
    }
}

.input {



    input {

        &:after,
        &:before {
            display: none !important;
        }

        background-color: #f5f5f5;
        border: 1px solid rgba(0, 0, 0, 0.03);
        border-radius: 8px;
        font-size: 16px;
        padding: 6px 12px;
        color: #595959;
    }
}

.goBack {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        color: #4683d9;
    }

    svg {
        margin-right: 5px;
        position: relative;
        top: -1px;
    }
}

.registerButton {
    outline: none;
    border: none;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    color: blue;
    background: transparent;
}