.comment {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.userInfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
        height: 30px;
        width: 30px;
        border-radius: 30px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        margin-right: 10px;
    }

    b {
        font-size: 16px;
    }

    span {
        opacity: 0.8px;
        margin-left: 10px;
        font-size: 12px;
    }
}

.replyBtn {
    margin-right: 5px;
    cursor: pointer;

    &:hover {
        color: #4683d9;
    }
}

.text {
    margin-bottom: 20px !important;
}