.wrapper {
    margin: 10px 0;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, .03);
    border-radius: 10px;
    padding: 10px 15px !important;
}



.fieldRoot {

    &:after,
    &:before {
        display: none;
    }


    cursor: pointer;
}